[Desktop Entry]
Type=Application
Name=UCLM Ripes
Comment=A graphical processor simulator and assembly editor for the RISC-V ISA (https://github.com/silvigon/Jumping-Ripes)
Exec=Ripes
Icon=Ripes
Categories=Education;Utility;
